header {
    background-color: #332c68;
    padding: 0.5%;
    text-align: center;
    
}


header h1{
    color: #79fd6e;
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    background-color: rgb(199, 242, 119);
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto; /* Center the table */
    border: 3px solid black;
    box-shadow: 5px 5px 10px grey;
}

table th, table td {
    
    border: 2px solid rgb(27, 13, 107);
    padding: 8px;
    text-align: center;
    font-size: 20px;
    
}

h2 {
    text-align: center;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    color: blue;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradiente de fondo */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
    border: 2px solid #feb47b; /* Borde */
    margin: 35%;
    padding: 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.parrilla-1 {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s, box-shadow 0.3s;
}

.parrilla-1:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.parrilla-1 img {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

dl {
    background-color: #eeeeb5;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 70%;
}

dt {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
    color: #666;
    margin-bottom: 10px;
}

dl dt::before {
    content: "• ";
    color: #ff7e5f;
}

dl dd {
    margin-left: 30px !important;
    color: #666;
    margin-bottom: 10px;
}

